
html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}
body{
    width: 100%!important;
}
h2{
    padding: 20px 0;
    font-size: 48px;
}
h3{
    font-size: 32px;
    font-weight: 700;
}
h4{
    font-size: 24px;
}
li, h5 {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
    line-height: 24px;
}
li{
    list-style: none;
}

@media screen and (max-width: 900px) {

    h2{
        font-size: 28px;
    }
    h3{
        font-size: 32px;
        font-weight: 700;
    }
    h4{
        font-size: 24px;
    }
    li, h5 {
        font-size: 20px;
        color: var(--text-color);
        font-weight: 600;
        line-height: 24px;
    }
}

